server:
  port: 8000

msa:
  client:
    user-url: http://localhost:8081
    order-url: http://localhost:8082
    product-url: http://localhost:8083

spring:
  cloud:
    kubernetes:
      config:
        enabled: false
      discovery:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  metrics:
    tags:
      application: api-gateway