server:
  port: 8000

spring:
  application:
    name: api-gateway
  profiles:
    active: dev

  cloud:
    kubernetes:
      config:
        enabled: true
        name: user-service-config
        paths: /workspace/config
      # 4. K8s Service Discovery 활성화 (Eureka 대체)
      discovery:
        enabled: true