server:
  port: 8000

msa:
  client:
    user-url: http://user-service:8081
    order-url: http://order-service:8082
    product-url: http://product-service:8083

spring:
  cloud:
    kubernetes:
      config:
        enabled: false
      discovery:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  metrics:
    tags:
      application: ${spring.application.name}